<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Home - Quezon Science High SchoolS</title>

    <link rel="stylesheet" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">


</head>
<body id="home">

    <!-- Hidden Sidebar Menu -->
    <!-- Hidden Sidebar Menu -->
    <div class="ui vertical sidebar inverted menu">
        <div class="item">
            <a class="ui inverted blue button">Log in</a>
            <a class="ui inverted green button">Sign Up</a>
        </div>
        <div class="active item">
            <a href="index.html">
            <i class="home icon"></i>
            Home
            </a>
        </div>
        <div class="item">
            <a href="admissions.html">
            <i class="heartbeat icon"></i>
            Admissions
            </a>
        </div>
        <div class="item">
            <a href="news.html">
            <i class="newspaper icon"></i>
            News
            </a>
        </div>
        <div class="item">
          <div class="ui accordion">
            <div class="ui inverted title">
              <i class="ui dropdown icon"></i>
              Archives
            </div>
            <div class="content">
              <a class="item" href="documents.html">
                <i class="file pdf icon"></i>
                Documents
              </a>
              <a class="item" href="gallery.html">
                <i class="images icon"></i>
                Gallery
              </a>
            </div>
          </div>
        </div>
        <div class="item">
            <a href="orgs.html">
            <i class="users icon"></i>
            Organizations
            </a>
        </div>
        <div class="item">
          <div class="ui accordion">
            <div class="ui inverted title">
              <i class="ui dropdown icon"></i>
              Research
            </div>
            <div class="content">
              <a class="item" href="appliedScience.html">
                Applied Science
              </a>
              <a class="item" href="lifeScience.html">
                Life Science
              </a>
            </div>
          </div>
        </div>
        <div class="item">
            <a href="about.html">
            <i class="universal access icon"></i>
            About
            </a>
        </div>
        <div class="item">
          <a href="faqs.html">
            <i class="help circle icon"></i>
            FAQs
          </a>
        </div>
    </div>

    <!--Folowing Menu -->
    <div class="ui top fixed primary inverted menu">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
                Menu
            </a>
            <a class="header right item" href="index.html">
                <img class="logo" src="img/logo.png" alt=""> QSHS
            </a>
        </div>
    </div>

    <!-- Page Contents -->

    <div class="dimmed pusher">
        <div class="ui masthead center aligned segment">
          <div class="ui container">
            <div class="ui green secondary large pointing menu"  id="home-navbar">
                <a class="item" href="index.html"><img class="logo" src="img/logo.png"></a>
                <a class="active item" href="index.html">Home</a>
                <a class="item" href="admissions.html">Admissions</a>
                <a class="item" href="news.html">News</a>
                <div class="ui dropdown item">
    							Archives
    							<i class="ui dropdown icon"></i>
    							<div class="menu">
    								<a class="item" href="#">Documents</a>
    								<div class="ui divider"></div>
    								<a class="item" href="#">Images</a>
    							</div>
    						</div>
                <a class="item" href="orgs.html">Organizations</a>
                <div class="ui dropdown item">
    							Research
    							<i class="ui dropdown icon"></i>
    							<div class="menu">
    								<a class="item" href="appliedScience.html">Applied Science</a>
    								<div class="ui divider"></div>
    								<a class="item" href="lifeScience.html">Life Science</a>
    							</div>
    						</div>
                <a class="item" href="about.html">About</a>
                <a class="item" href="faqs.html">FAQs</a>
                <div class="right menu">
                  <div class="item">
                    <a class="ui inverted blue button">
                        <i class="sign in icon"></i>
                        Log in
                    </a>
                  </div>
                  <div class="item">
                    <a class="ui inverted green button">
                        <i class="add user icon"></i>
                        Sign Up
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <div class="ui text container">
            <h1 class="ui header">Quezon Science High School</h1>
            <div class="ui horizontal section divider">
                <h3>Honorem | Excellencia | Servitium</h3>
            </div>
          </div>
        </div>

        <!-- ANNOUNCEMETS -->

        <div class="ui feature vertical stripe segments">
              <div class="ui middle aligned stackable internally celled grid container">
                <div class="row">
                  <div class="center aligned column">
                    <h1 class="ui header">
                      Announcements
                    </h1>
                  </div>
                </div>

                <div class="row">
                  <div class="ui left floated seven wide computer sixteen wide tablet column">
                    <div class="ui raised segment">
                      <div class="ui center aligned header">
                        Events / Activities
                      </div>
                      <div class="row">
                        <p class="description">
                          Legend:
                        </p>
                      </div>
                      <iframe src="https://calendar.google.com/calendar/b/1/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=2fbgkeqn958tjfrfjvciuqdobg%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=Asia%2FManila" style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
                    </div>
                  </div>
                  <div class="ui right floated six wide computer eight wide centered tablet column">
                    <div class="ui raised segment" style="height: 368px;">
                      <div class="ui center aligned header">
                        Issues
                      </div>

                      <div class="ui segment feed">
                        <div class="event">
                          <div class="content">
                            <div class="summary">
                              <a href="#">
                                Graduation
                              </a>
                              <div class="date">
                                Issued March 69, 2018
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="event">
                          <div class="content">
                            <div class="summary">
                              <a class="user" href="#">
                                Announcement Title
                              </a>
                              <div class="date">
                                Issued March 69, 2018
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="event">
                          <div class="content">
                            <div class="summary">
                              <a class="user" href="#">
                                Announcement Title
                              </a>
                              <div class="date">
                                Issued March 69, 2018
                              </div>
                            </div>
                            <div class="extra text">
                              Short description
                            </div>
                          </div>
                        </div>

                        <div class="event">
                          <div class="content">
                            <div class="summary">
                              <a class="user" href="#">
                                Issued Announcement Title
                              </a>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
        </div>

        <!-- FACILITIES -->

        <div class="ui vertical stripe inverted stacked segment" id="endorsements">
          <div class="ui two column stackable internally celled grid container">
            <div class="row">
              <div class="ui left floated five wide column">
                <h3 class="ui header">Facilities</h3>
                <div class="ui fluid card">
                  <div class="ui image" id="CHANGEimage">
                    <img src="img/qshs/worms-eye.jpg" alt="DefaultImage - Shot of QSHS Main Building">
                  </div>
                  <div class="content">
                    <div class="ui header" id="CHANGEheader">
                      ACASDZC
                    </div>
                    <div class="meta" id="CHANGEdate">
                      Taken: Feb. 30, 1969
                    </div>
                    <div class="description" id="CHANGEdescription">
                      INSERT CONTENT
                      INSERT CONTENT
                      INSERT CONTENT
                      INSERT CONTENT
                      INSERT CONTENT
                      INSERT CONTENT
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui right floated ten wide column">
                <div class="ui middle aligned centered four column grid">
                  <div class="row">
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage">
                          <img src="img/qshs/SHS 3.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage2">
                          <img src="img/qshs/Room + Main 3.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage3">
                          <img src="img/avatar/nan.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage4">
                          <img src="img/qshs/Comlab3.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Second Row -->
                  <div class="row">
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage5">
                          <img src="img/qshs/Speech Lab.JPG" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage6">
                          <img src="img/qshs/Dorm.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage7">
                          <img src="img/qshs/Cafeteria.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="ui fluid card">
                        <div class="image" id="hoverImage8">
                          <img src="img/qshs/Garden.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fourth Row -->
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>

        <!-- ENDORSE -->
        <div class="ui vertical stripe stacked segment" id="enroll">
          <div class="ui center aligned grid container">
              <div class="row">
                <h3 class="ui header">
                  Become a QUESAYANO NOW <i class="exclamation icon"></i>
                </h3>
              </div>
              <div class="row">
                <p class="ui description">Come and join our community as we train our students excel in the fields of Science, Mathematics and Technology.</p>
              </div>
              <div class="row">
                <a class="ui big green button" href="admissions.html">Enroll Now! <i class="ui angle right icon"></i></a>
              </div>
          </div>
        </div>

    </div>


        <!-- Footer -->
        <div class="ui vertical footer segment">
          <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
              <div class="three wide column">
                  <h3 class="ui inverted header">SECTIONS</h3>
                  <div class="ui inverted link list">
                    <a class="active item" href="index.html">Home</a>
                    <a class="item" href="admissions.html">Admissions</a>
                    <a class="item" href="news.html">News</a>
                    <div class="item">
        							Archives
        						</div>
        						<a style="text-indent: 1em;" class="item" href="documents.html">Documents</a>
        						<a class="item" href="appliedScience.html">Applied Science</a>
        						<a class="item" href="orgs.html">Organizations</a>
        						<div class="item">
        							Research
        						</div>
        						<a style="text-indent:1em; "class="item" href="appliedScience.html">Applied Science</a>
        						<a style="text-indent:1em; "class="item" href="lifeScience.html">Life Science</a>
                    <a class="item" href="about.html">About</a>
                    <a class="item" href="faqs.html">FAQs</a>
                  </div>
              </div>
              <div class="four wide column">
                <h3 class="ui inverted header">REACH US ON</h3>
                <div class="ui inverted link list">
                  <div class="row" id="footerReach">
                  <a href="#" class="item"><img src="img/facebook.png"></a>
                  <a href="#" class="item"><img src="img/twitter.png"></a>
                  <a href="#" class="item"><img src="img/youtube.png"></a>
                  <a href="#" class="item"><img src="img/instagram.png"></a>
                  </div>
                </div>
                <div class="ui divider"></div>
                <h3 class="ui inverted header">CONTACT US</h3>
                <div class="column description"><i class="call icon"></i> 0929 xxx xxxx</div>
                <div class="column description"><i class="mail icon"></i> quescimail@gmail.com</div>
            </div>
                <div class="seven wide column">
                    <br>
                    <div class="text container" id="footerQsci">Quezon Science High School</div>
                    <div class="description aligned center"><i class="marker icon"></i> Brgay. Isabang, Tayabas City, Quezon Province</div>
                    <div class="ui divider"></div>
                    <p id="footerRights">All Rights Reserved 2017</p>
                </div>
            </div>
            </div>
          </div>


    <!-- Citing scripts -->
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/semantic.js"></script>
    <script src="js/script.js"></script>




</body>
</html>
